extends layout 

block content
    hl= title
    form#formSignIn(name="Signin", method="post", action="/signin")
        input#inputUserName(type="text", placeholder="username", name="username")
        
        button#btnSubmit(type="submit") submit