extends layout 

block content 
    hl= title
    p You may now sign in.
        
    form#formBackToHome(name="Backtohome", method="get", action="/")
        button#btnBackToHome(type="submit") Sign In